html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */
header {
  height: 10vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}
#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3vw;
}
h2 {
  font-family: sans-serif;
  font-size: 2vh;
}
h3 {
  font-family: sans-serif;
}

/* title/results */
#results-bar {
  display: none;
  height: 10vh;
}
#results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#results h4 {
  text-align: center;
  font-size: 3vh;
}
section {
  display: flex;
  flex-direction: row;
}
.search-result {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  margin: 1vw;
  font-family: 'Roboto', sans-serif;
}
.search-result:hover {
 cursor: pointer;
}
#did-you {
  font-family: sans-serif;
  font-size: 3vh;
  margin: 1vh 2vw;
}

/* left-bar */
#left-bar {
  visibility: hidden;
  width: 30vw;
  height: 90vh;
  border-right: 1px solid black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
#poster {
  width: 22vw;
  height: auto;
  margin: 1vw;
  margin-left: 4vw;
}
#info-container {
  height: 10vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#filming-locations-title {
  margin: 2vw;
  font-size: 3vh;
  font-weight: bold;
}
#movie-title {
  font-family: 'Heebo', sans-serif;
  font-size: 3vh;
  margin: 0 1vw;
  text-align: center;
}
.even, .odd {
  padding: 1vw;
  font-family: sans-serif;
  line-height: 3vh;
  width: 28vw;
}
.even {
}
.odd {
  background-color: rgb(228, 224, 224);
}
.bold {
  font-weight: bold;
}
#locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


/* map */
#map-container {
  width: 70vw;
  height: 90vh;
}
#map {
  height: 100%;
  width: 100%;
}
#main-search {
}
#main-text {
  height: 100%;
  width: 50vw;
  font-size: 5vh;
  margin: 0;
  border: 1px solid black;
  padding: 0;
}
button {
  display: none;
}
.bold {
  font-weight: bold;
}
.result-pic {
  width: 28vw;
  height: auto;
}

/* popup */

.popup-bubble-content {
   position: absolute;
   top: 0;
   left: 0;
   transform: translate(-50%, -100%);
   /* Style the info window. */ 
   background-color: white;
   padding: 5px;
   border-radius: 5px;
   font-family: sans-serif;
   overflow-y: auto;
   max-height: 60px;
   box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }